.topnav {
    background-color:#f2fbf9;
    color: #333;
    height: 50px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body{
    background-color:#f2fbf9;
    padding-left: 20px;
  padding-right: 20px;

  }
  .logo-container-left {
    display: flex;
  }
  
  .logo-container-right {
    display: flex;
  }
  
  .logo-left {
    margin-right: 10px;
  }
  
  .logo-right {
    margin-left: 10px;
 
  

  }
  @media (max-width: 600px) {
    .logo-container-right img:not(.menu-icon) {
      display: none;
    }
    
    .menu-icon-container {
      display: block;
    }
  }
  
  @media (min-width: 601px) {
    .menu-icon-container {
      display: none;
    }
  }
  
  /* menu */
  .logo-container-right .logo-right {
    display: block;
  }
  
  .menu-icon-container .menu-icon {
    display: none;
  }
  
  .menu-icon-container.active .menu-icon {
    display: block;
  }
  
  .menu-icon-container.active .logo-right {
    display: none;
  }
  
  @media (max-width: 600px) {
    .logo-container-right .logo-right {
      display: none;
    }
    
    .menu-icon-container .menu-icon {
      display: block;
    }
  }
  
/* click */
.additional-icon {
  display: none;
}

.additional-icon.show {
  display: inline-block;
}








  .wework {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #04433B;
  }
  
  .buttonPS {
    width: 147px;
    height: 40px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    display: flex;
    border: none;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #FFFFFF;
    background-color: #00b686;
  }
  
  .section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .wework {
      font-size: 18px;
      line-height: 30px;
    }
  
    .buttonPS {
      font-size: 12px;
      height: 30px;
      width: 80px;
    }
  }
  
 .section2 {
  width: 100%;
  overflow: hidden;
}

 .section2 .centre{
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;


 }
 @media (max-width: 600px) {
  .section2 .centre{
    transform: scale(1.2); /* Increase the scale to zoom in */
  }}